/* En tu archivo CSS */



.mat-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .mat-card {
    width: 350px; /* Ajusta el ancho según tus preferencias */
    height: 200px; /* Ajusta el alto según tus preferencias */
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
  }